{% extends 'main/layout.html' %}

{% block title %}О команде{% endblock %}

{% block content %}
    <div class="features">
        <h1>О команде</h1>
        <p>Проект создан команда разработчиков “<b>Deadline Corp</b>” в рамках Хакатона на платформе “Учи Дома”.</p>
        <p>Великолепные участники команды <b>Deadline Corp</b>:</p>
        <p>Леонид Степанович - Капитан, Менеджер проекта, Дизайнер.</p>
        <p>Алексей Александрович - Разработчик.</p>
        <p>Владимир Александрович - Разработчик.</p>
        <a href="/"><button class="btn btn-danger">На главную</button></a>
    </div>
{% endblock %}
